body
{
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	margin:0;
	padding: 0;
	background-color: #31393C;
	font-family: lato;
	font-weight: bolder;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.input-half
{
	/*background-color: #31393C;*/
	display: flex;
	flex-direction: column;
	width:100%;
	
	min-height:300px;
}
.icon-container
{
	position: absolute;
	height:20px !important;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding:5px;
}
.icon
{
	padding:5px;
	font-weight: normal;		
	font-family: monospace;
	background-color: black;
	color: white;
	
}
.form-container
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height:100%;
	width: 100%;

}
input
{
	background-color: black;
	color:white;
	height:50px;
	font-size: 2em;
	/*background:none;*/
	border:none;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
}
input:focus
{
	outline: none;
}
.output-half
{
	display: none;
	width:100%;
	/*height:100vh;*/
	/*background-color: #31393C;*/
	overflow-y: auto;	
	/*border: 0 0 0 1px black solid;*/

}
.row
{
	display: flex;
	/*width: 100%;*/
	background-color: #2176FF;
	justify-content: space-between;
	/*align-content: center;*/
	align-items: center;
	
	height:40px;
	margin:10px;
	padding:10px;
	display: flex;
	/*justify-content: center;*/
	/*align-content: center;*/
	color:white;
}
.row:hover
{
	box-shadow: -1px 1px 1px black;
}
input::placeholder
{
	color:white;
	opacity: 1;
	/*font-size: 0.5em;*/
}
.error-container
{
	color:white;
	font-weight: lighter;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        flex-direction: column;
        
    }
    .input-half
{
	min-height: 50vh;
}
.output-half
{
	min-height:50vh;
}
}